.quoteDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.backButton:hover {
  cursor: pointer;
  background-color: #2b232b;
}

.content {
  width: 600px;
  max-width: 100%;
  min-height: 20rem;

  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #422f41;
  color: white;
  border: 5px solid #3e2e3d;
  border-radius: 10px;
  padding: 1.8rem;
}

.quote {
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 10px 0;
}

.author {
  font-size: 1rem;
  font-style: italic;
  align-self: flex-end;
  border-bottom: 2px solid white;
}

.backButton {
  padding: 10px;
  width: 6rem;
  margin: 10px 0;
  border: none;
  background-color: #554454;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.5s;
}

.deleteButton {
  padding: 10px;
  width: 6rem;
  margin: 10px 0;
  border: none;
  background-color: #e5472f;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.5s;
  margin: 0 10px;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: #e86551;
}

/* @media screen and (max-width: 320px) {
  .content {
    min-width: 250px;
  }
} */
